---
layout: default
---

<main class="timeline">
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
	<article class="timeline__item">
		<h1>Article title</h1>
		<date>13-01-1985</date>
	</article>
	
</main>