// Timeline
// 
// markup:
// <main class="timeline">
// 		<article class="timeline__item">
//			<h1>Title</h1>
//		</article>
// 		<article class="timeline__item">
//			<h1>Title</h1>
//		</article>
// 		<article class="timeline__item">
//			<h1>Title</h1>
//		</article>
// 		<article class="timeline__item">
//			<h1>Title</h1>
//		</article>
// </main>
//
// Styleguide 2.1

.timeline {
	display: block;
	width: 99%;
	margin: 0 auto;
}

.timeline__item {
	float: left;
	clear: right;
	width: 50%;

	padding: 1em;
	background: black;
	
	color: white;

	&:nth-child(even) {
		float: right;
		clear: left;

		background: grey;
	}
}