*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: lightgrey;

	font-family: $font-primary;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

header,
footer {
	display: block;
	clear: both;
	width: 100%;
}