@mixin breakpoint($point) {
    @if $point == palm {
        @media screen and (max-width: 667px) { @content; }
    }
    @else if $point == lap {
        @media screen and (min-width: 668px) { @content; }
    }
    @else if $point == portable {
        @media screen and (max-width: 1023px ) { @content; }
    }
    @else if $point == desk {
        @media screen and (min-width: 1024px) { @content; }
    }
}