// Button
// 
// This is a the basic button used through the whole website.
//
// markup: 
// <button class="button {$modifiers}">Click me!</button>
//
// .button 			- Button base
// .button--callout	- Callout button
//
// Styleguide 1.1

.button {
	padding: $spacing/2;
	background-color: $color-primary;
	border: none;
	border-radius: 0.2em;

	font-size: 1em;
	color: $white;

	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $color-secondary;
		color: $black;
	}

	&:active {
		background-color: darken($color-secondary, 10%);
	}


	
	&--callout {
		background-color: $color-secondary;
		color: $black;

		
		&:hover {
			background-color: $color-primary;
			color: $white;
		}

	}
}